{% extends 'layout.html' %}
{% block body %}

<section class="text-gray-400 bg-gray-900 body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">ADD MENU HERE</h1>
      
    </div>
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <div class="flex flex-wrap -m-2">
        <div class="p-2 w-1/2">
          <div class="relative">

            <form method="post" action="/edit/{{id}}">
            <label for="name" class="leading-7 text-sm text-gray-400">Name</label>
            <input type="text" id="name" name="name" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-yellow-500 focus:bg-gray-900 focus:ring-2 focus:ring-yellow-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" value="{{data.name}}" required>
          </div>
        </div>
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="price" class="leading-7 text-sm text-gray-400">Price</label>
            <input type="text" id="price" name="price" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-yellow-500 focus:bg-gray-900 focus:ring-2 focus:ring-yellow-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" value="{{data.price}}" required>
          </div>
        </div>
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="flavor" class="leading-7 text-sm text-gray-400">Flavor</label>
            <input type="text" id="flavor" name="flavor" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-yellow-500 focus:bg-gray-900 focus:ring-2 focus:ring-yellow-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" value="{{data.price}}" required>
          </div>
        </div>
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="size" class="leading-7 text-sm text-gray-400">size</label>
            <input type="text" id="size" name="size" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-yellow-500 focus:bg-gray-900 focus:ring-2 focus:ring-yellow-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" value="{{data.price}}" required>
          </div>
        </div>
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="image-name" class="leading-7 text-sm text-gray-400">Image-Name</label>
            <input type="text" id="image" name="image" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-yellow-500 focus:bg-gray-900 focus:ring-2 focus:ring-yellow-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" value="{{data.image}}" required>
          </div>
        </div>
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="file" class="leading-7 text-sm text-gray-400">Image</label>
            <input type="file" id="file" name="file" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-yellow-500 focus:bg-gray-900 focus:ring-2 focus:ring-yellow-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>
        
        <div class="p-2 w-full">
          <button type ="submit" class="flex mx-auto text-white bg-yellow-500 border-0 py-2 px-8 focus:outline-none hover:bg-yellow-600 rounded text-lg">Submit</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</section>

{% endblock %}